# Carregamentos

## Bibliotecas

In [62]:
# pip install simpledbf

In [64]:
# pip install dbfread

In [66]:
import pandas as pd
# from simpledbf import Dbf5
from dbfread import DBF

## Dados

### Carregamento dos arquivos DBF

In [68]:
dbf_amazon = DBF('../../data/raw/amazonia/yearly_deforestation/yearly_deforestation.dbf')

### Conversão em dataframes pandas

In [71]:
df_amazon_raw = pd.DataFrame(iter(dbf))

# Exploração

Aparencia das primeiras linhas do dataframe, para avaliação visual da qualidade dos dados

In [72]:
df_amazon_raw.head()

,fid,state,path_row,main_class,class_name,sub_class,def_cloud,julian_day,image_date,year,area_km,scene_id,source,satellite,sensor,uuid
0,16,AM,00166,DESMATAMENTO,d2021,d2021,NaN,211,2021-07-30,2021.0,6.335015,951.0,,,,0987ddbe-9f23-4cec-91d3-2a06032c29e8
1,24,MT,22768,DESMATAMENTO,d2015,d2015,0.0,226,2015-08-14,2015.0,0.778199,2491.0,,,,1c19e5ee-db69-4f54-88d8-159dc554d2fe
2,59687,PA,22562,DESMATAMENTO,d2015,d2015,0.0,196,2015-07-15,2015.0,0.005600,2573.0,,,,845e0d68-29ca-471a-999a-83b1e040b13a
3,59688,PA,22562,DESMATAMENTO,d2015,d2015,0.0,196,2015-07-15,2015.0,0.000084,2573.0,,,,f7b54b10-bf0e-47ce-8b1b-09776a2dfa70
4,130,PA,22363,DESMATAMENTO,d2022,corte raso com solo exposto,NaN,209,2022-07-28,2022.0,0.120332,1443.0,Amazonia,Landsat,OLI,260dda0d-6030-4cd0-8141-b97cf9b0f2eb

Nome das colunas carregadas

In [76]:
df_amazon_raw.columns

Index(['fid', 'state', 'path_row', 'main_class', 'class_name', 'sub_class',
       'def_cloud', 'julian_day', 'image_date', 'year', 'area_km', 'scene_id',
       'source', 'satellite', 'sensor', 'uuid'],
      dtype='object')

Formato do dataframe com número total de linhas e colunas

In [78]:
df_amazon_raw.shape

(749665, 16)

Avaliando as dimensões dos dados é possível inferir que se trate de um apanhado díario de focos de incendio e desmatamento

Avaliação das estatisticas descritivas do DF

In [102]:
df_amazon_raw.describe(include='all')

,fid,state,path_row,main_class,class_name,sub_class,def_cloud,julian_day,image_date,year,area_km,scene_id,source,satellite,sensor,uuid
count,749665.000000,749665,749665,749665,749665,749665,591576.000000,749665.000000,749665,749665.000000,7.496650e+05,749635.000000,749665,749665,749665,749665
unique,NaN,10,210,1,16,20,NaN,NaN,1134,NaN,NaN,NaN,4,3,3,749665
top,NaN,PA,22463,DESMATAMENTO,d2008,corte raso com solo exposto,NaN,NaN,2019-08-11,NaN,NaN,NaN,,,,0987ddbe-9f23-4cec-91d3-2a06032c29e8
freq,NaN,342699,36657,749665,68414,75948,NaN,NaN,12111,NaN,NaN,NaN,629131,629130,629130,1
mean,374833.000000,NaN,NaN,NaN,NaN,NaN,290.211131,220.264435,NaN,2015.874281,1.714922e-01,19130.891589,NaN,NaN,NaN,NaN
std,216409.789113,NaN,NaN,NaN,NaN,NaN,707.141636,31.145195,NaN,4.825156,5.446836e-01,38157.546721,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,2008.000000,3.600000e-14,0.000000,NaN,NaN,NaN,NaN
25%,187417.000000,NaN,NaN,NaN,NaN,NaN,0.000000,208.000000,NaN,2011.000000,6.355766e-02,816.000000,NaN,NaN,NaN,NaN
50%,374833.000000,NaN,NaN,NaN,NaN,NaN,0.000000,219.000000,NaN,2016.000000,8.905186e-02,1455.000000,NaN,NaN,NaN,NaN
75%,562249.000000,NaN,NaN,NaN,NaN,NaN,0.000000,233.000000,NaN,2020.000000,1.506559e-01,2494.000000,NaN,NaN,NaN,NaN
max,749665.000000,NaN,NaN,NaN,NaN,NaN,2022.000000,363.000000,NaN,2023.000000,1.234758e+02,101293.000000,NaN,NaN,NaN,NaN

In [85]:
df_amazon_raw['main_class'].unique()

array(['DESMATAMENTO'], dtype=object)

O dataframe apenas apresenta registros classificados como desmatamento, observado pelo valor do atributo Main_class que apenas contém o valor desmatamento

In [87]:
df_amazon_raw['year'].unique()

array([2021., 2015., 2022., 2023., 2011., 2012., 2013., 2019., 2018.,
       2017., 2016., 2009., 2014., 2010., 2008., 2020.])

In [91]:
df_amazon_raw['year'].nunique()

16

Contemplando um total de 16 anos de dados 2008 : 2023

In [107]:
df_amazon_raw['sub_class'].unique()

array(['d2021', 'd2015', 'corte raso com solo exposto',
       'corte raso com vegetação', 'd2011', 'mineração', 'd2012', 'd2013',
       'd2019', 'd2018', 'desmatamento por degradação progressiva',
       'd2017', 'd2016', 'd2009', 'd2014', 'd2010', 'd2008', 'd2020',
       'floresta inundada', 'd2022'], dtype=object)

Muito embora algumas das sub classes sejam de entendimento intuitivo, como corte raso com solo exposto, é necessário a obtençao dos metadados para entendimento correto do que se trata subclasses como d2021